<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="com.mindtree.utility.Extentreport"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mindtree.runner.AtlanticBook"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
